<h3>User details</h3>
<div class="form-group" *ngIf="service.loggedIn">
   <form ngNativeValidate>
   <!-- <input type="text" id="image" required  placeholder="Search Image" [(ngModel)]="image" name="image" /> -->
   <input type="button" (click)="viewImage()" value="View Image" class="btn1">
   <div *ngIf=service.dbImage>
        <img [src]="service.dbImage">
    </div>
    <br>
    <img src="{{service.imageUrl}}" width="400" height="300">
    </form>
</div>
<div class="text-danger" *ngIf="!service.loggedIn">
    You are not logged in
 </div>
 <!-- pic: {{service.imageUrl}} <br> -->
