<h2>List of Favorites</h2>
<div *ngIf="service.loggedIn && service.weatherList.length!=0">
<table class="table">
    <tr>
        <th>City</th><th>Weather</th><th>Lat</th><th>Lon</th><th>Country</th>
    </tr>
    <tr *ngFor="let w of service.weatherList">
        <td>{{w.name}}</td><td>{{w.main}}</td><td>{{w.lat}}</td><td>{{w.lon}}</td><td>{{w.country}}</td>
    </tr>
</table>
</div>
<div class="text-danger" *ngIf="!service.loggedIn">
    You are not logged in.
 </div>
 <div *ngIf="service.weatherList.length==0 && service.loggedIn">
    Nothing to dispaly
</div>
